.box1 {
    border: solid grey;
    padding:2px;
    margin:2px;
    text-align: center;

}
.box1Title{
    color:blue;
    text-align: center;
}
.boxBody{
    text-align: center;
}

img {
    padding: inherit;
    margin:auto;
    text-align:center;
}

main{
    text-align: center
}